body {
  margin: 0;
  padding: 0 10px;
  font-family: sans-serif;
  background: #dfdfdf;
}

.container {
  border: 1px solid #000000;
  padding: 10px;
  margin: 10px 0;
  float: left;
  width: 55%;
  background: #ffffff;
}

.job-container {
  border: 1px solid #d8d8d8;
  padding: 5px;
  margin: 5px 0;
}

#delete {
  padding-left: 7px;
  color: #fa8072;
  cursor: pointer;
}

button {
  cursor: pointer;
}

select {
  cursor: pointer;
}

#duration {
  width: 85px;
}

#hours {
  color: rgb(145, 145, 145);
  font-size: 0.9em;
  font-style: italic;
}
